.doc-man-scroll-view{
  width:100%;
  height:100%;
  overflow:scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.doc-man-scroll-page{
  width:100%;
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
}
.doc-man-scroll-page:last-child{
  padding-bottom:10px;
}

.doc-man-scroll-page img{
  width:100%;
}
